<section class="relative">
    <div class="relative text-left z-10 p-4 lg:p-8">
      <p class="text-[120px] lg:text-[240px] font-bold text-yellow-500 font-nevduplenysh tracking-wider leading-none">
        О НАС
      </p>
    </div>
      <div class="relative">
        <img src="/img/Rectangle 14.png" class="w-[520px]  bottom-[-300px] lg:w-[640px] lg:absolute right-[50px] bottom-[-450px]">
    </div>
    <div class="relative text-left">
        <p class="w-[490px] p-5 font-gilroy text-sm lg:text-xl lg:p-8 tracking-wider leading-none ">
            Lorem Ipsum - это текст-"рыба", часто
            используемый в печати и вэб-дизайне.
            Lorem Ipsum является стандартной
            "рыбой" для текстов на латинице с
            начала XVI века. В то время некий
            безымянный печатник создал
            большую коллекцию размеров
            и форм шрифтов, используя
            Lorem Ipsum для распечатки
            образцов. Lorem Ipsum не
            только успешно пережил
            без заметных изменений
            пять веков, но и перешагнул
            в электронный дизайн. Его
            популяризации в новое время
            послужили публикация листов
            Letraset с образцами Lorem Ipsum
            в 60-х годах и, в более недавнее
            время, программы электронной
            вёрстки типа Aldus PageMaker
            в шаблонах которых используется
            Lorem Ipsum.</p>
    </div>
  </section>
 