---
import { sanityClient } from "sanity:client";
import { PortableText } from "@portabletext/react";

const about = await sanityClient.fetch(`*[_type == "about"][0]{
  title,
  description,
  "imageUrl": image.asset->url
}`);
---

<section
  id="about"
  class="bg-white text-black py-16 px-8 lg:px-24 flex flex-col lg:flex-row items-center justify-between"
>
  <!-- Левая часть: заголовок и описание -->
  <div class="lg:w-1/2 mb-8 lg:mb-0 font-girloy">
    <h2
      class="text-9xl lg:text-10xl font-bold text-yellow-500 mb-8 font-nevduplenysh"
    >
      {about.title}
    </h2>
    <div class="text-base lg:text-lg text-gray-800 leading-relaxed">
      <PortableText value={about.description} />
    </div>
  </div>

  <!-- Правая часть: изображение -->
  <div class="lg:w-1/2 flex justify-center lg:justify-end">
    <img src={about.imageUrl} alt="О нас" class="w-full lg:w-3/4" />
  </div>
</section>
