---
import { sanityClient } from "sanity:client";
import { PortableText } from "@portabletext/react";

const about = await sanityClient.fetch(`*[_type == "about"][0]{
  title,
  description,
  "imageUrls": images[].asset->url
}`);
---

<section
  id="about"
  class="bg-white text-black py-16 px-8 lg:px-24 flex flex-col lg:flex-row items-center justify-between"
>
  <!-- Левая часть: заголовок и описание -->
  <div class="lg:w-1/2 mb-8 lg:mb-0 font-girloy">
    <h2
      class="text-9xl lg:text-10xl font-bold text-yellow-500 mb-8 font-nevduplenysh"
    >
      {about.title}
    </h2>
    <div class="text-base lg:text-lg text-gray-800 leading-relaxed portable-text">
      <PortableText value={about.description} />
    </div>
  </div>

  <!-- Правая часть: коллаж из изображений -->
  <div class="lg:w-1/2 grid grid-cols-2 gap-4">
    {about.imageUrls.map((imageUrl) => (
      <img src={imageUrl} alt="О нас" class="w-full h-full object-cover rounded-lg shadow-lg" />
    ))}
  </div>
</section>

<style>
  .portable-text p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }
</style>
