<section class="bg-white text-black py-16 px-8 lg:px-24 flex flex-col lg:flex-row items-center justify-between">
  <!-- Левая часть: заголовок и описание -->
  <div class="lg:w-1/2 mb-8 lg:mb-0 font-girloy">
    <h2 class="text-9xl lg:text-10xl font-bold text-yellow-500 mb-8 font-nevduplenysh">
      О НАС
    </h2>
    <p class="text-base lg:text-lg text-gray-800 leading-relaxed">
      Наша компания занимается производством восьми драгоценных металлов на аффинажных предприятиях России. Мы перерабатываем вторичное сырье и выпускаем продукцию с содержанием основного компонента до 99,99%.
    </p>
    <p class="text-base lg:text-lg text-gray-800 leading-relaxed mt-4">
      Мы производим драгоценные металлы в виде слитков, гранул, проволок, лент, полос, порошков, химических соединений, а также ювелирных и технических изделий. Вся продукция имеет УИН, сертификаты и паспорта качества завода-изготовителя.
    </p>
    <p class="text-base lg:text-lg text-gray-800 leading-relaxed mt-4">
      Контроль качества осуществляется ОТК и/или РТ- Техприемка (Военная приемка). Транспортировку осуществляют только ФГУП ГЦСС (СпецСвязь) и СФИНКС. Мы работаем по прямым контрактам, ИГК, 275ФЗ, ГОЗ и другим.
    </p>
    <p class="text-base lg:text-lg text-gray-800 leading-relaxed mt-4">
      Мы аккредитованы на всех государственных и коммерческих ЭТП и принимаем участие в торгах, тендерах, аукционах и других процедурах.
    </p>
  </div>

  <!-- Правая часть: изображение -->
  <div class="lg:w-1/2 flex justify-center lg:justify-end">
    <img src="/images/about.png" alt="О нас" class="w-full lg:w-3/4">
  </div>
</section>
