<header
  class="fixed text-white top-2 left-1/2 transform -translate-x-1/2 w-11/12 max-w-screen-lg z-50 flex justify-between items-center p-2 lg:p-4 bg-[#2C2C2C] bg-opacity-60 rounded-full"
>
  <a href="/">
    <div class="flex items-center">
      <img src="/logo.svg" alt="Логотип" class="h-8 lg:h-10" />
      <span class="ml-2 font-bold text-lg sm:text-xl lg:text-4xl font-gilroy"
        >ООО «ДМДК»</span
      >
    </div></a
  >

  <nav class="hidden lg:flex">
    <ul class="flex text-base lg:text-3xl space-x-4 lg:space-x-8">
      <li>
        <a href="/#about" class="hover:text-yellow-400 font-gilroy">О НАС</a>
      </li>
      <li>
        <a href="/#products" class="hover:text-yellow-400 font-gilroy"
          >ПРОДУКЦИЯ</a
        >
      </li>
      <li class="relative group">
        <a href="/#contacts" class="hover:text-yellow-400 font-gilroy"
          >КОНТАКТЫ</a
        >
        <!-- Выпадающее меню -->
        <div
          class="text-base lg:text-xl font-gilroy absolute invisible group-hover:visible opacity-0 group-hover:opacity-100 bg-[#2C2C2C] bg-opacity-60 text-white p-4 rounded-lg mt-4 w-64 lg:w-72 left-1/2 transform -translate-x-1/2 transition-all duration-300 ease-in-out scale-95 group-hover:scale-100"
        >
          <div class="flex justify-center items-center mb-4">
            <img src="/logo.svg" alt="Логотип" class="h-8" />
            <span class="ml-2 font-bold">ООО «ДМДК»</span>
          </div>
          <div class="space-y-2 text-center">
            <p>+7 (925) 104-50-50</p>
            <p>+7 (926) 664-62-46</p>
            <p>ooo.dmdk@mail.ru</p>
            <p>Режим работы:<br /> <span class="text-lg">9:00 - 21:00</span></p>
          </div>
          <div class="flex justify-center space-x-4 mt-4">
            <a href="#" class="social-icon">
              <img
                src="/icons/tg.svg"
                alt="Telegram"
                class="w-8 h-8 lg:w-10 lg:h-10"
              />
            </a>
            <a href="#" class="social-icon">
              <img
                src="/icons/ws.svg"
                alt="WhatsApp"
                class="w-8 h-8 lg:w-10 lg:h-10"
              />
            </a>
          </div>
        </div>
      </li>
    </ul>
  </nav>

  <!-- Мобильное меню (гамбургер) -->
  <div class="lg:hidden">
    <button id="menu-toggle" class="focus:outline-none">
      <svg
        class="w-8 h-8"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>
</header>

<!-- Мобильное меню -->
<div
  id="mobile-menu"
  class="hidden fixed inset-x-0 top-16 p-4 bg-[#2C2C2C] bg-opacity-60 text-white flex flex-col items-center space-y-4 transform transition-transform duration-300 ease-in-out z-40"
>
  <a href="/#about" class="text-lg font-gilroy hover:text-yellow-400">О НАС</a>
  <a href="/#products" class="text-lg font-gilroy hover:text-yellow-400"
    >ПРОДУКЦИЯ</a
  >
  <div class="relative group">
    <a href="/#contacts" class="text-lg font-gilroy hover:text-yellow-400"
      >КОНТАКТЫ</a
    >
    <!-- Выпадающее меню в мобильном меню -->
    <div
      class="text-lg font-gilroy absolute invisible group-hover:visible opacity-0 group-hover:opacity-100 bg-[#2C2C2C] bg-opacity-80 text-white p-4 rounded-lg mt-4 w-64 left-1/2 transform -translate-x-1/2 transition-all duration-300 ease-in-out scale-95 group-hover:scale-100"
    >
      <div class="flex items-center mb-4 justify-center">
        <img src="/logo.svg" alt="Логотип" class="h-8" />
        <span class="ml-2 font-bold">ООО «ДМДК»</span>
      </div>
      <div class="space-y-2 text-center">
        <p>+7 (925) 104-50-50</p>
        <p>+7 (926) 664-62-46</p>
        <p>ooo.dmdk@mail.ru</p>
        <p>Режим работы:<br /> <span class="text-lg">9:00 - 21:00</span></p>
      </div>
      <div class="flex justify-center space-x-4 mt-4">
        <a href="#" class="social-icon">
          <img
            src="/icons/tg.svg"
            alt="Telegram"
            class="w-8 h-8 lg:w-10 lg:h-10"
          />
        </a>
        <a href="#" class="social-icon">
          <img
            src="/icons/ws.svg"
            alt="WhatsApp"
            class="w-8 h-8 lg:w-10 lg:h-10"
          />
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");

  menuToggle.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
    mobileMenu.classList.toggle("block");
  });
</script>
