<section class="relative h-screen">
     <div class="relative flex justify-center ">
        <h1 class="text-[100px] pt-8 lg:text-[170px]  font-bold text-yellow-500 font-nevduplenysh ">
            ПРОДУКЦИЯ
        </h1>
     </div>
     <div class="grid grid-cols-3 gap-4">
         <div class="relative">
            <img src="/product/1 plashka.png" class="w-[520px] z-10 p-4 lg:p-8">
            <img src="/product/icon.png" class="w-[110px] h-[110px] absolute top-3 right-3 w-16 h-16 m-2"> 
            <div class="absolute inset-0 flex justify-center mt-[130px]">
               <h1 class="text-[#505050] font-nevduplenysh text-8xl bg-opacity-50 p-4 leading-10">ЗОЛОТО<br><span class="text-5xl p-6 ">и сплавы</span></h1>
           </div>
            
         </div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
     </div>
  </section>

  <!-- Выпадающее меню -->
  <!-- <div class="text-base lg:text-xl font-gilroy absolute invisible group-hover:visible opacity-0 group-hover:opacity-100 bg-[#2C2C2C] bg-opacity-60 text-white p-4 rounded-lg mt-4 w-64 lg:w-72 left-1/2 transform -translate-x-1/2 transition-all duration-300 ease-in-out scale-95 group-hover:scale-100">
   <div class="flex justify-center items-center mb-4">
     <img src="/logo.svg" alt="Логотип" class="h-8">
     <span class="ml-2 font-bold">ООО «ДМДК»</span>
   </div>
   <div class="space-y-2 text-center">
     <p>+7 (925) 104-50-50</p>
     <p>+7 (926) 664-62-46</p>
     <p>ooo.dmdk@mail.ru</p>
     <p>Режим работы:<br> <span class="text-lg">9:00 - 21:00</span></p>
   </div> -->