<section class="relative h-screen">
     <div class="relative flex justify-center ">
        <h1 class="text-[100px] pt-8 lg:text-[170px]  font-bold text-yellow-500 font-nevduplenysh ">
            ПРОДУКЦИЯ
        </h1>
     </div>
     <div class="grid grid-cols-3 gap-4">
         <div class="relative">
            <img src="/product/1 plashka.png" class="w-[520px] z-10 p-4 lg:p-8">
            <img src="/product/icon.png" class="w-[110px] h-[110px] absolute top-3 right-3 w-16 h-16 m-2"> 
            <div class="absolute inset-0 flex justify-center mt-[130px]">
               <h1 class="text-[#505050] font-nevduplenysh text-8xl bg-opacity-50 p-4 leading-10">ЗОЛОТО<br><span class="text-5xl p-6 ">и сплавы</span></h1>
           </div>
            
         </div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
     </div>
  </section>