@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Nevduplenysh";
  src: url("/fonts/Nevduplenysh.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.social-icon {
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
  color: #facc15;
}

.social-icon img {
  transition: filter 0.3s ease;
}

.social-icon:hover img {
  filter: brightness(1.2) saturate(1.2);
}
