---
import Header from "../components/Header.astro";
import Up from "../components/Up.astro";
import Footer from "../components/Footer.astro";
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Основные мета-теги -->
    <title>ООО «ДМДК» - Производство и переработка драгоценных металлов</title>
    <meta
      name="description"
      content="ООО «ДМДК» занимается производством и переработкой драгоценных металлов, таких как золото, серебро и платина. Качество, надежность и безопасность."
    />
    <meta
      name="keywords"
      content="драгоценные металлы, золото, серебро, платина, производство, переработка, слитки, проволоки, гранулы, порошки, аффинаж, металлургия"
    />
    <meta name="author" content="ООО «ДМДК»" />

    <!-- Open Graph для социальных сетей -->
    <meta
      property="og:title"
      content="ООО «ДМДК» - Производство и переработка драгоценных металлов"
    />
    <meta
      property="og:description"
      content="Мы предлагаем высококачественные драгоценные металлы и изделия из них. Наши услуги включают переработку и аффинаж металлов."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ooodmdk.ru" />
    <meta
      property="og:image"
      content="https://i.ytimg.com/vi/duJNQ-EJ5nY/maxresdefault.jpg"
    />
    <meta property="og:locale" content="ru_RU" />

    <!-- Canonical URL -->
    <link rel="canonical" href="https://ooodmdk.ru" />

    <!-- SVG Favicon -->
    <link rel="icon" href="/logo.svg" type="image/svg+xml" />

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <Header />
    <slot />
    <Up />
    <Footer />
  </body>
</html>
