---
import About from "../components/About.astro";
import Header from "../components/Header.astro";
import Up from "../components/Up.astro";
import Product from "../components/Product.astro"
---

<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ООО «ДМДК»</title>
  <link rel="stylesheet" href="/styles/global.css">
</head>
<body>
  <Header />
  <slot />
  <Up />
  <About />
  <Product />
</body>
</html>